<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixpm/menu.application.title" opened="true">
        <item view="pm_User.list" title="msg://com.company.jmixpm.view.user/UserListView.title"/>
        <item view="pm_Project.list" title="msg://com.company.jmixpm.view.project/projectListView.title"/>
        <item view="pm_Task.list" title="msg://com.company.jmixpm.view.task/taskListView.title"/>
        <item view="pm_TimeEntry.list" title="msg://com.company.jmixpm.view.timeentry/timeEntryListView.title"/>
        <item view="pm_Document.list" title="msg://com.company.jmixpm.view.document/documentListView.title"/>
        <item view="pm_ProjectStatsView" title="msg://com.company.jmixpm.view.projectstats/projectStatsView.title"/>
        <item view="pm_TimeEntry.my" title="msg://com.company.jmixpm.view.mytimeentrylist/myTimeEntryListView.title"/>
    </menu>

</menu-config>